{
  "extends": [
    "next",
    "prettier",
    "plugin:valtio/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "valtio/state-snapshot-rule": "off"
  },
  "plugins": ["@typescript-eslint"],
  "parser": "@typescript-eslint/parser"
}
